[
{gnssd, [
	{redis, {"localhost", 6379}},
	{pgsql, {{8193,1660,864,33,0,0,0,219},"gnss","gnss",""}}, %ok
	{mongodb, {"localhost", 27017, <<"test">>}},
	{redis_subscribe, {<<"push:*">>,<<"push:">>}},
	{pushstream, {"http://localhost/pub?id="}}
]},
{lager, [
	{handlers, [
		{lager_console_backend, notice},
		{lager_file_backend, [
			{file,"log/error.log"},
			{level,error},
			{size, 10485760},
			{date, "$D0"},
			{count, 5}
		]},
		{lager_file_backend, [
			{file,"log/debug.log"},
			{level, debug},
			{size, 10485760},
			{date, "$D0"},
			{count, 5}
		]},
		{lager_file_backend, [
			{file,"log/console.log"},
			{level, info},
			{size, 10485760},
			{date, "$D0"},
			{count, 5}
		]}
		]}
	]}
	].


